.alert-small {
	@include breakFirst(large){
		top: 85px;
	}
	&.alert-default {
		background-color: #ffeeaa;
		background-color: rgba(255, 238, 170, 0.9);
		
		.icon-alert {
			background-color: #f3b421;
		}
		.alert-title strong {
			font-weight: 700;
			color: #444;
		}
	}
	.alert-link:hover {
		color: #000;
	}
	.icon-alert svg {
		transform: translate(0px, 0px);
		margin-left: -12px;
		margin-top: -12px;
	}
}