/* ---------------------------
UF Branding Fonts
----------------------------*/

@font-face {
  font-display: swap;
  font-family: "IBM Plex bold italic";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-BoldItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex regular";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex bold";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-Bold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex italic";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex light";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-Light.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex medium";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-Medium.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex medium italic";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-MediumItalic.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-display: swap;
  font-family: "IBM Plex semibold";
  src: url(https://www.eng.ufl.edu/fonts//IBMPlexSans-SemiBold.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
