@charset "utf-8";

.gform_wrapper {
	.gform_heading {
		.gform_description {
			@extend .kicker;	
		}
	}
	.gform_body {
		select, textarea, input[type="text"], input[type="email"] {
			padding: 15px 7.5px;	
			color: rgba(51, 49, 50, 0.8);
			border: 2px solid rgba(76, 135, 181, 0.7);
		}
		.left_label .gfield_label {
			color: rgba(51, 49, 50, 0.8);
		}
	}
	.gform_footer {
		input[type="submit"], input.button {
			border: 3px solid $orange;
			cursor: pointer;
			font: 700 16px/1 "gentona", "Georgia", serif;
			letter-spacing: 2px;
			padding: 15px 20px;
			text-transform: uppercase;	
			background-color: transparent;
			color: $orange;
			
			&:hover {
				color: $white;
				background-color: $orange;	
			}
		}
	}
}