@charset "utf-8";

.gform_wrapper {
	.gform_heading {
		.gform_description {
			@extend .kicker;	
		}
	}
	.gform_body {
		select, textarea, input:not([type="file"]) {
			padding: 15px 7.5px;	
			color: rgba(51, 49, 50, 0.8);
			border: 2px solid rgba(76, 135, 181, 0.7);
			&:focus {
				border-color: $orange;
			}
		}
		input[type="file"],
		input[type="radio"],
		input[type="checkbox"] {
			&:focus {
			  outline: 2px solid $orange;
			  outline-offset: -2px;
			}
		}

		.left_label .gfield_label {
			color: rgba(51, 49, 50, 0.8);
		}
	}
	.gform_footer {
		input[type="submit"], input.button {
			border: 3px solid $orange;
			cursor: pointer;
			font-family: var(--book-bold-sans), Helvetica, Arial, sans-serif;
			padding: 15px 20px;
			text-transform: uppercase;	
			background-color: transparent;
			color: $orange;
			
			&:hover, &:focus {
				color: $white;
				background-color: $orange;			
			}
		}
	}
}
.gform_wrapper {
	// restyle inserted <p> and <br> tags in content module
	.ufl-content & {
		br {
			display: none;
		}
		p {
			display: inline;
		}
	}
}