@charset "utf-8";

.wp-block-gallery {
	margin-left: 0;
}
.blocks-gallery-item {
	&:before {
		content:'';
	}
}

//  IE 11 grid fix

.wp-block-media-text {
	display: -ms-grid;
	-ms-grid-columns: 25% auto;
	-ms-grid-rows: auto 100px;
}

// default media on the left
.wp-block-media-text .wp-block-media-text__media {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}
.wp-block-media-text .wp-block-media-text__content {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
}

// media on the right
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__media {
	-ms-grid-column: 2;
	-ms-grid-row: 1;
}
.wp-block-media-text.has-media-on-the-right .wp-block-media-text__content {
	-ms-grid-column: 1;
	-ms-grid-row: 1;
}