@charset "utf-8";

.menu-wrap {
	@media screen and (min-width: $screen-md) {
		// Remove orange 'border-bottom'
		background-color: transparent;
	}
}

.header {
	.admin-bar & {
		top: 46px;
		@include breakFirst(783px){
			top: 32px; 
		}
	}
	&.unit .logo {
		display: none; 
		
		@include breakFirst(large){
			display: block;
			
			&:focus {
				background-color: $blueLight;
				outline-color: $white;
				outline-width: 2px;
				outline-offset: -1px;
			}
		}	
	}
	&.unit .logo.mobile {
		display: block;
		
		@include breakFirst(large){
			display: none;
		}	
	}
}
.screen-reader-title {
	a:focus {
		outline:none;
	}
}
.logo-unit {
	a:focus & {
		outline: 1px dotted $white;
		outline-offset: 1px;
	}
}

// styles specific to header with Title Text type
.header-type-text .header.unit { 
	@include breakFirst(wide){
		background-color: transparent;
	}
	.logo {
		@media screen and (min-width: $screen-xs){
			display: block;
			height: 60px;
			width: 60px;
			background-color: $orange;
			padding: 0;
		}
		@include breakFirst(large){
			height: 50px;
			width: 50px;
		}
		@include breakFirst(wide){
			height: 150px;
			width: 150px;
		}
	}
	.logo-uf svg {
		@media screen and (min-width: $screen-xs){
			width: 30px;
			height: 19px;
			position: absolute;
			top: 20px;
			left: 15px;
		}
		@include breakFirst(large){
			top: 15px;
			left: 11px;
		}
		@include breakFirst(wide){
			width: 74px;
			height: 48px;
			top: 51px;
			left: 38px;
		}
	}
	.site-title {
		background-color: $blue;
		height: 60px;
		// overflow: hidden;
		margin: 0 120px 0 0;
		padding: 0 5px 0 15px;
		display: table;
		position: relative;
		z-index: 1001;
		@include breakFirst(large){
			height: 50px;
		}
		a, a:focus {
			color: $white;
			outline-color: $white;
		}
		h1 {
			font-family: "gentona", Helvetica, Arial, sans-serif;
			font-weight: 500;
			text-transform: none;
			letter-spacing: 1px;
			font-size: 13px;
			margin: 0;
			display: table-cell;
			vertical-align: middle;
			line-height: 22px;
		}
		h2 {
			display: table-row;
			vertical-align: middle;
			font-size: 12px;
			line-height:14px;
			font-weight: 100;
			text-transform: none;
			color: #fff;
		}

		@include breakFirst(wide){
			height: 50px;
			background-color: $white;
			position: absolute;
			top: 50px;
			left: 150px;
			padding-left: 0;
			// z-index: 1001;
			display: block;
			margin-right: 30px;
			a, a:focus {
				color:$blueDark;
				outline-color: $blueDark;
			}
			
			h1 {
				font-size: 24px;
				line-height: 50px;
				display: table-cell;
				vertical-align: middle;
				padding-left: 20px;
				padding-right: 10px;
			}
			h2 {
				color: $blueDark;
				display: table-cell;
				vertical-align: middle;			
				padding-left: 15px;
				padding-right: 10px;
				font-size: 14px;
				&:before {
					content: "\2044 \00A0 \2044 \00A0 \2044 \00A0 \2044 \00A0";
					color: $orange;
					text-shadow: 1px 1px 0px $orangeDark;
					margin-right: 8px;
					position: relative;
					font-size: 16px;
					font-weight: 800;
				}
			}
			
		}
		
	}
	.menu-wrap {
		@include breakFirst(wide){
			background-color: $white;
			background-image: url('img/line.png');
			background-position: 0 50px;
			background-repeat: repeat-x;

			&::after {
				content: " ";
				background-color: $white;
				display: inline-block;
				width: 30px;
				height: 50px;
				float: right;
			}
		}
	}
	.main-menu-wrap {
		height: auto;
		@include breakFirst(large){
			padding-left: 50px;
		}
		@include breakFirst(wide){
			padding-left: 130px;
			top: 100px;
			height: 50px;
			min-height: 50px;		
			ul.menu {
				margin-left: 20px;
			}
		}
		.main-menu-link {
			transition:none;
			@include breakFirst(large){
				padding: 37px 20px;
			}
			@include breakFirst(wide){
				padding: 12px 45px;
				font-size: 14px;
				font-weight: 800;
			}
		}
		&>ul>li {
			transition: width 1s ease-in-out; // animate
			
		}
		li {
			@media screen and (min-width: $screen-lg){
				min-width: auto;
			}
		}
	}
	.dropdown {
		.offscreen & { // adjust dropdown
			margin-top: 30px;
		} 
		@include breakFirst(wide){
			top: 50px;
		}
	}
	.aux-menu-wrap {
		@include breakFirst(wide){
	
			background-color: $blue;
			position: absolute;
			top: 0;
			padding-left: 150px;
		}
	}
	.aux-nav {
		@include breakFirst(wide){
			left: 160px;
		}
	}
	.audience-nav-wrap {
		@include breakFirst(wide){
			border-left: none;
		}	
		.arw-right {
			@include breakFirst(large){	
			}
		}
		
		&:hover, &:focus {
			ul {
				left: inherit;
				right: 0;
				min-width: 200px;
			}
		}
	}
	form.search-wrap {
		@include breakFirst(wide){
			right: 0;
		}
	}
	.admin-bar & .menu-wrap {
		@include breakFirst(wide){
			background-position: 0 94px;
		}
	}
}