@charset "utf-8";

.newsletter-header-enabled {
	&.tax-issuem_issue, 
	&.tax-issuem_issue_categories, 
	&.single-article,
	&.newsletter-page {
		@extend .page-template-landing-page;
	}
}
.article {
    @extend .post;
}
.tax-issuem_issue_categories {
	@extend .category;	
}
.issuem-description {
	@include breakFirst(medium){
		margin-left: $grid-gutter-width/2;
		margin-right: $grid-gutter-width/2;
		padding-bottom: $grid-gutter-width/2;
	}
}
.issuem-article {
	.big-stat-wrap, .tweet-block {
		width: 100%;
		background-position: top center;
		
		&.four {
			@media (min-width: 768px) {
				float: none;
				margin-bottom: $grid-gutter-width;
			}
			@media (min-width: 992px) {
				float: none;
				margin-left: 0;
				
			}
			@media (min-width: 1220px) {
				margin-left: 0;
			}
		}
	}
	.big-stat-copy {
		padding-bottom: $grid-gutter-width/2;
		bottom: 0;
		left: 0;
		position: absolute;
				
		@media (min-width: 768px) {
			float: none;
		}
		h2 {
			text-shadow: 0 3px 2px rgba(0,0,0,.4);
		}
		
	}
	.gradient-bg:after {
		background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
		height: 70%;
	}
}

.single-article {
	#main {
		background-color: $white;
		
		@include breakFirst(medium){
			padding: 45px 60px;
		}	
	}
	.widget-area {
		margin-left: $grid-gutter-width;
		
		h2 {
			@extend h3;
			text-transform: none;
			margin-bottom: $grid-gutter-width/2;
		}
		.widget ul {
			@extend .sidenav;
			
			a {
				padding-right: 0;
				padding-left: 0;
			}
			a:hover {
				background-color: transparent !important;
				color: $linkColorHover !important;
			}
		}
	}
	.entry-content p.lead {
		@extend .kicker;
	}
}

.issuem_archives_shortcode {
	.issuem_archive {
		float: left;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 2px;
		
		@include breakFirst(medium){
			width: calc( 100% / 2 );
		}
		@include breakFirst(large){
			width: calc( 100% / 3 );
		}
		@include breakFirst(wide){
			width: calc( 100% / 4 );
		}
		
		.size-issuem-cover-image {
			width: 240px;
			height: 300px;
			margin: 12px;
			display: inline;
			
			@include breakFirst(medium){
				width: 200px;
				height: 250px;
				margin: $grid-gutter-width/2 $grid-gutter-width 0;
			}
		}
	}
}

.issuem_article_list_widget {
	
	.article_list {
		margin-top: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
	}
	
	.article_list_row_content {
		@include breakFirst( $screen-phone ){
			margin-left: 190px;
		}
	}
	
	.issuem_widget_title {
		@extend .widget-post-title;
	}
	
	.issuem_widget_teaser {
		@extend .widget-post-excerpt;
	}
	
	a.read-more {
		@extend .widget-post-more;
	}
	
	.attachment-issuem-featured-thumb-image {
		@extend .widget-post-thumbnail;
	}
}