@charset "utf-8";

.post-type-archive-kbe_knowledgebase, .tax-kbe_taxonomy, .tax-kbe_tag {
 
    .landing-page-hero-full {
        background-color: #ccc;
        
        .hero-img h1 {
            color: $blue;
            text-shadow: none;
            letter-spacing: 0px;
        }
        .hero-text {
            padding-top: 0;
        }
    }
    
    .search-form {
        margin-bottom: 0;
		
		#s {
			border-color: #ccc;	
		}
    }
}

.kbe_articles {
	@include breakFirst(large){
		padding: 0 $grid-gutter-width;
	}
	
	.kb-list {
		margin-bottom: $grid-gutter-width*1.5;
		
		.kb-homepage & {
			margin-left: $grid-gutter-width;
			
			@include breakFirst(large) {
				margin-left: 0;
			}
		}
	}
	.kb-post-link {
		line-height: 1.2;
		margin-bottom: $grid-gutter-width/2;	
	}
	.kb-list-parent {
		margin-left: 0;
	}
	.kb-heading {
		margin-bottom: $grid-gutter-width;
		
		a:link, a:visited {
			color: $blue;	
		}
		a:hover, a:active {
			color: $blueDark;	
		}
		
		.kb-homepage & {
			border-bottom: 1px solid #bbb;
    		padding-bottom: 7.5px;
		}
		
	}
	.kbe-secondary-text {
		font: 500 14px/36px "gentona", "Georgia", serif;
		letter-spacing: 1px;
		text-transform: uppercase;
		color: #888 !important;
		padding: 3px $grid-gutter-width/2 0 0;
	}
	.kbe_count {
		@extend .kbe-secondary-text;
		display: none;
		
		@include breakFirst($screen-phone){
			display: block;
		}
	}
	.kbe-view-all {
		margin-top: -$grid-gutter-width;
		margin-bottom: $grid-gutter-width;
		
		a {
			@extend .kbe-secondary-text;
		}
	}
}

.kb-homepage {
    @extend .page-template-landing-page;
}

.kbe_content {
	@extend .entry-content;	
}

.kb-breadcrumbs {
	@extend .breadcrumb-wrap;
	
	@include breakTo(medium){
		li {
			display: none;
		}
		li:first-child {
			display: list-item;
		}
	}
}
.kb-search-list {
	margin: 0;
    list-style-type: none;
    font-weight: 500;
	text-transform: none;
	text-align: left;
    padding-bottom: $grid-gutter-width/2;
	
	&:before {
		content: none;
		margin-right: 0;
	}
}
#search-result {
	margin: 0;
	list-style-type:  none;
	font-weight: 500;
    
	li {
        @extend .kb-search-list;   
    }
}
#live-search {
	.awesomplete {
		display: block;
		
		& > input {
			display: block;	
		}
		& > ul > li {
			@extend .kb-search-list;
			font-size: 18px;
			padding: $grid-gutter-width/4 $grid-gutter-width;
		}
	}
}
.single-kbe_knowledgebase {
	.entry-title {
		margin-bottom: 0;
	}
	.entry-meta {
		
		li:before {
			content: none;
			margin-right: 0;	
		}
		
		a[rel="tag"] {
			@extend .category-tag;
			border: none;
			display: inline-block;
			left: 0;
			position: relative;
			top: 0;
			
			&:before {
				color: $blueLight;
				content: "\f323";
				font-family: dashicons;
				font-size: 12px;
				padding-right: 2px;
			}
		}
	}
}

