.widget_listcategorypostswidget {
	li {
		clear: both;
		overflow: auto;
	}
	
	img {
		@extend .widget-post-thumbnail;
	}
	
	.lcp_post {
		@extend .widget-post-title;
	}
	.lcp_post_alt {
		@extend .widget-title;
		font: 500 20px/26px $serifFontFamily; 
		margin-bottom: 0;
		color:$white;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.85);
	}
	.lcp_date {
		@extend .rss-date;
	}
	.lcp_excerpt {
		@extend .widget-post-excerpt;
	}
	.lcp_readmore {
		@extend .article-post-more;
		text-decoration: underline;
		text-transform: uppercase;
		letter-spacing: 2px;
		color: $orange;
		text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.85);
		margin-bottom: 0;
	}
	.lcp_post_info {
		position: absolute;
		bottom: 0;
		padding: $grid-gutter-width/2;
	}
	.lcp_img_bg {
		margin: -70px 0px 0px -16px;
		height: 265px;
		width: calc(100% + 31px);

		.widget-post-thumbnail {
			// height: 290px;
			// width: calc(100% - 30px);
			// margin-left: 15px;
			// position: absolute;
			// top:0;	
			// left: 0;
			
			height: 280px;
			width: 100%;
			position: relative;

			@include breakTo (xsmall) {
				height: 305px;
				height: 295px;
			}
			@include break (mediumWide) {
				height: 305px;
				height: 295px;
			}
		}
	}
}
.lcp_catlist {
	margin: 0;
	li {
		&::before {
			// remove list bullets
			content: none;
		}
	}
}