@charset "UTF-8";

.post {
    margin-bottom: 30px;
	clear: both;
	overflow: auto;
}
figcaption {
	font-family: $fontFamily;
	font-weight: 100;
	font-size: 14px;
	font-style: italic;
	line-height: 125%;
	margin-top: 10px;
}
.single-post {
	.page-title {
		margin-bottom: 20px;
	}

	
}
.entry-meta {
	p {
		font-size: 80%;
		font-style: italic;
	}
	a[rel="tag"] {
		@extend .category-tag;
		border: none;
		display: inline-block;
		left: 0;
		position: relative;
		top: 0;
		margin-bottom: 4px;
		font-size: 12px;
		line-height: 12px;
		padding: 9px 12px;
		
		&:before {
			color: $blueLight;
			content: "\f323";
			font-family: dashicons;
			font-size: 12px;
			padding-right: 2px;
		}
	}
}


// to delete?
/*

.entry-content {
	.image {
		max-width: 1240px;
		margin:auto;
		padding-top: 25px;
		padding-bottom: 25px;
	}
	
	.video {
		max-width: 960px;
		margin: auto;
		padding-top: 35px;
		padding-bottom: 25px;
	}
	p {
		padding-top: 10px;
	}
	.text {
		font-size: 12px;
		line-height: 15px;
		color: #000;
		text-transform: none;
		
		img {
			margin-left: 5px;
			margin-right: 2px;
			display: inline-block;	
		}
		
	}
	img + h4.text {
		@extend figcaption;
		
		@include breakTo( medium ){
			padding-left: 15px;
			padding-right: 15px;	
		}
	}
	.quote {
		margin-right: 15px;
		margin-left: 15px;
		
		@include breakFirst( 1199px ){
			margin-top: 150px;
			margin-right: 0;
			margin-left: 0;
			margin-bottom: auto;
			max-width: 455px;
		}
		// H3 included for backwards-compatibility
		.quote-text {
			font-family: $serifFontFamily;
			font-weight: 800;
			font-style: italic;
			font-size: 24px;
			line-height: 31px;
			letter-spacing: 1px;
			color: #F04E23;
		}
	}
	.sources {
		font-size: 13px;
		line-height: 15.25px;
		letter-spacing: 0.5px;
		color: #999;
		text-transform: none;
	}
	.single-post & {
		h2 {
			font-family: $serifFontFamily;
			font-size: 22px;
			font-weight: 500;
			line-height: 28.5px;
			color: $blue;
			text-transform: none;
			letter-spacing: 1px;
		}
		.quote h3 {
			// Included for backwards compatibility
			@extend .quote-text;
		}
		h5 {
			// Included for backwards compatibility
			@extend .sources;
			font-family: $serifFontFamily;
			font-size: 22px;
			font-weight: 500;
			line-height: 28.5px;
			color: $blue;
			text-transform: none;
			letter-spacing: 1px;	
		}
		li:before {
			float: left;
			margin-left: -2em;
			color: #F04E23;
			font-family: 'dashicons';
			font-weight: bold;
			content: "\f345";
		}
	}
}

*/