@charset "UTF-8";

.post {
    margin-bottom: 30px;
	clear: both;
	overflow: auto;
}
figcaption {
	font-family: $fontFamily;
	font-weight: 100;
	font-size: 14px;
	font-style: italic;
	line-height: $baseLineHeight;
	margin-top: 10px;
}
.single-post {
	.page-title {
		margin-bottom: 20px;
	}
}
.entry-meta {
	p {
		font-size: 80%;
		font-style: italic;
	}
	a[rel="tag"] {
		@extend .category-tag;
		border: none;
		display: inline-block;
		left: 0;
		position: relative;
		top: 0;
		margin-bottom: 4px;
		font-size: 12px;
		line-height: 12px;
		padding: 9px 12px;
		
		&:before {
			color: $blueLight;
			content: "\f323";
			font-family: dashicons;
			font-size: 12px;
			padding-right: 2px;
		}
	}
}