@charset "utf-8";

.tablepress-table-description {
	margin: 0 0 20px;
}
.tablepress {
	th, td {
		border-bottom: 1px solid $grayLight;
	}
	.row-hover tr:hover td {
		background-color: $teal !important;
	}
	.sorting:hover, .sorting_asc, .sorting_desc {
		background-color: $blueDark !important;
	}
}
.dataTables_info {
	float:none !important;
}
.dataTables_paginate.paging_simple {
	float: none;
	padding: 0 !important;
	@extend .pagination;
	a {
		text-transform: uppercase;
		text-decoration: none;
		outline:inherit;
		font-family: $fontFamily;
		font-weight: 700;
		padding-top: 15px;
		display: block;
		&:first-child {
			float:left;
		}
		&:last-child {
			float: right;
		}
	}
}
.dataTables_paginate a {
	outline:inherit;
	position: relative;
	color: $linkColor !important;
	transition: all 0.3s ease;
	&:hover, &:focus {
		color: $linkColorHover !important;
		text-decoration: underline !important;
	}
}
.paginate_button {
	&:hover {
		text-decoration: underline !important;
	}
	&.disabled {
		&:hover, &:focus{
			text-decoration: none !important;
			color: #999999 !important;
		}
	}
}
.paging_simple {
	.paginate_button {
		&.previous:before, &.next:after {
			content: "" !important;
			width: 0 !important;
		}
	}
}

