/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@use "sass:math";

$font__size: 16;
$font__size_3xl: math.div(60, $font__size) + rem;
$font__size_2xl: math.div(48, $font__size) + rem;
$font__size_xl: math.div(32, $font__size) + rem;
$font__size_lg: math.div(24, $font__size) + rem;
$font__size_md: math.div(18, $font__size) + rem;
$font__size_sm: math.div(16, $font__size) + rem;
$font__size_xs: math.div(14, $font__size) + rem;
$font__size_xxs: math.div(12, $font__size) + rem;

$grayLight: #999999;
$blueHighlight: #a6c7ff;

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
// Carousel
$size__carousel_width: 970px;
$size__carousel_height: 325px;
$size__carousel_width_md: 1140px;
$size__carousel_height_md: 399px;

$size__menu_height: 50px;