.widget-area {
	&#page-sidebar {
		display: none;
		
		@include breakFirst(medium){
			display: block; 
		}
	}
	
	.home & {
		padding-top: $grid-gutter-width;
	}
    .home &#page-sections{
        padding-top: 0;
    }
	.home .footer-bottom & {
		padding-top: 0;
	}
}

.widget {
	margin-bottom: $grid-gutter-width;
	
	ul {
		margin-left: 0;
		
		li:before {
			content: normal;
		}
		li {
			margin-bottom: $grid-gutter-width;
			font-size: 16px;
		}
		a {
			font-weight: 400;
			letter-spacing: 1px;	
		}
		.post-date {
			display: block;	
		}
	}
	.widgettitle, .widget-title {
		text-transform: none;
		font: 500 24px/32px $serifFontFamily; 
		color: $blue;
	}
}

.widget-ufl-content-image-right {
    ul {
        margin-left: $grid-gutter-width;
        
        li {
            font-size: 100%;
            text-transform: none;
            margin-bottom: $grid-gutter-width/2;
        }
    }
}

.widget_archive, .widget_categories {
	select {
		width: 99%;
		border: 1px solid #999;
		padding: 7.5px;
	}
	label {
		text-indent: -999em;
		display: block;
		margin-bottom: -$grid-gutter-width;
	}
}

.widget_text {
	.footer-bottom & .textwidget {
		font-size: 16px;
		line-height: 24px;
		padding-right: $grid-gutter-width/2;
	}
}


.widget-post-title {
	@extend .article-post-title;
}
.widget-post-more {
	@extend .article-post-more;
}

.widget-post-excerpt {
	@extend .article-post-excerpt;
}
.widget-post-thumbnail {
	@extend .article-post-thumbnail;
}

