.widget-area {
	&#page-sidebar {
		// display: none;
		
		@include breakFirst(medium){
			// display: block; 
		}
	}

	.home & {
		padding-top: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
		overflow: hidden;
	}
	.home &#page-sections{
		padding-top: 0;
	}
	.home .footer-bottom & {
		padding-top: 0;
	}
}

.widget {
	margin-bottom: $grid-gutter-width;

	#page-sidebar &, #page-right &, #post-sidebar & {
		border:2px solid $beigeDark;
		padding: 13px 20px;
	}

	ul {
		margin-left: 0;
		
		li:before {
			content: normal;
		}
		li {
			margin-bottom: $grid-gutter-width;
			font-size: 16px;
			text-transform:none;
		}
		a {
			font-weight: 400;
			// letter-spacing: 1px;	
		}
		.post-date {
			display: block;	
		}
	}
	.widgettitle, .widget-title {
		text-transform: none;
		font: 500 20px/28px $serifFontFamily; 
		color: $blue;
		@at-root .home #secondary & {
			text-transform: uppercase;
			border: 5px solid $white;
			background: $cyan;
			color: $blue;
			display: inline-block;
			font: 700 14px/14px $fontFamily;
			letter-spacing: 2px;
			padding: 9px 14px;
			position: relative;
			z-index:100;
			// top: -45px;
			left: -30px;
			& a {
				color: $blue;
				text-decoration: none;
			}
			&:hover {
				background: $white;
			}
			&:hover a {
				color: $blue;
			}
			&.orange {
			  background: $orange;
			  color: $white;
			}
		}
	}
	@at-root .home #secondary & {
		background: $blueLight;
		color: $white;
		padding: $grid-gutter-width/2;
		
		a {
			color: $white;
			text-decoration: underline;
		}
	}
}

.widget-ufl-content-image-right {
	ul {
		margin-left: $grid-gutter-width;
		
		li {
			font-size: 100%;
			text-transform: none;
			margin-bottom: $grid-gutter-width/2;
		}
	}
}

.widget_archive, .widget_categories {
	select {
		width: 99%;
		border: 1px solid #999;
		padding: 7.5px;
	}
	label {
		text-indent: -999em;
		display: block;
		margin-bottom: -$grid-gutter-width;
	}
}

.widget_text {
	.footer-bottom & .textwidget {
		font-size: 16px;
		line-height: 24px;
		padding-right: $grid-gutter-width/2;
	}
}

.rss-widget-icon {
	display:none;
}
.rss-date {
	font-style: italic;
	font-weight: 100;
	font-size: 13px;
	margin-bottom: $grid-gutter-width/4;
	display: block;
}

.widget-post-title, li .rsswidget {
	@extend .article-post-title;
}
.widget-post-more {
	@extend .article-post-more;
}
.widget-post-excerpt {
	@extend .article-post-excerpt;
}
.widget-post-thumbnail {
	width: 100%;
	height: 200px;
	display:block;
	background-position: calc(100% + 1px) calc(100% - 1px);
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: $grid-gutter-width/2;
	
	@include break( mediumPort ) {
		margin-right: $grid-gutter-width;
		margin-bottom: $grid-gutter-width;
		float:left;
		width: 50%;
	}
}

