.feature-bio-wrap {
	margin-bottom: 50px;
  margin-top: -25px;
  padding-top: 25px;
  @include breakFirst(medium){
    margin-bottom: 100px;
  }
  @include breakFirst(large){
    overflow: hidden;
  }
}
.feature-bios {
  position: relative;
  @include breakFirst(large){
    height: 638px;
    margin-top: 94px;
  }
}
.bio, .feature-bio-copy-wrap {
  h3 {
    color: $cyan;
    font: 500 16px/24px $serifFontFamily;
    margin-bottom: 40px;
  }
}
.bio {
  @include breakTo(large){
    background: $blue;
  }
  &:nth-child(odd){
    @include breakTo(large){
      background: $blueLight;
    }
  }
  &:nth-child(even){
    @include breakTo(large){
      .copy-wrap:before {
        background: $blue
      }
    }
  }
  @include breakFirst(large){
    bottom: 0;
    cursor: pointer;
    float: none;
    height: 251px;
    overflow: hidden;
    left: 0;
    position: absolute;
    width: 251px;
    z-index: 5;
  }
  &.active {
    cursor: default;
    height: 638px;
    @include breakFirst(large){
      height: 638px;
      width: 370px;
    }
    @include breakFirst(wide){
      width: 570px;
    }
    &:before, .copy-wrap {
      @include breakFirst(large){
        display: none;
      }
    }
  }
  &:before {
    @include breakFirst(large){
      background: $blue;
      background: transparentize($blue, .35);
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0;
      position: absolute;
      top: 0;
      transition: all .4s ease-out;
      visibility: hidden;
      width: 100%;
    }
  }
  &:hover {
    .copy-wrap, &:before {
      @include breakFirst(large){
        opacity: 1;
        pointer-events: all;
        visibility: visible;
      }
    }
  }
  &.velocity-animating {
    .copy-wrap, &:before {
      display: none !important;
    }
  }
  .category-tag {
    display: none;
  }
  .copy-wrap {
    padding: 40px 30px;
    position: relative;
    white-space: normal;
    width: 100%;
    @include breakTo(large){
      color: $white;
      font-size: 14px;
      line-height: 26px
    }
    @include breakFirst(large){
      opacity: 0;
      padding: 0 30px;
      pointer-events: none;
      position: absolute;
      text-align: center;
      transform: translateY(-50%);
      top: 50%;
      visibility: hidden;
    }
    h2 {
      color: $white;
      font: 700 22px/31px $fontFamily;
      margin: 0 0 10px;
      text-transform: uppercase;
    }
    h3 {
      font-size: 14px;
      margin: 0 0 20px;
      text-transform: uppercase;
    }
    p {
      @include breakTo(large){
        margin: 0;
      }
      @include breakFirst(large){
        display: none;
      }
    }
    .btn-circle {
      @include breakTo(large){
        display: none;
      }
    }
  }
  .bio-img {
    background: url('img/_temp-faculty.jpg') no-repeat center center;
    background-size: cover;
    display: block;
    height: 250px;
    width: 100%;
    @include breakFirst(large){
    height: 380px;
    }
    @include breakFirst(large){
      height: 100%;
    }
  }
  .arw-right {
    svg {
      color: $white;
      height: 14px;
      width: 16px;
    }
  }
}
.feature-bio-wrap, .copy-wrap {
  &:before {
    background: $blueLight;
    content: '';
    height: 48px;
    left: -24px;
    margin: -24px 0 0 0;
    position: absolute;
    transform: rotate(45deg);
    top: 50%;
    width: 48px;
    @include breakFirst(large){
      display: none;
    }
  }
  &.copy-wrap:before {
    left: 50%;
    margin: 0 0 0 -24px;
    top: -24px;
  }
}
.feature-bio-copy-wrap {
  background: $blueLight;
  color: $white;
  display: none;
  height: 481px;
  padding: 70px 50px 50px;
  position: absolute;
  transform: translateY(-94px);
  right: 0;
  width: 570px;
  @include breakFirst(large){
    display: block;
  }
  h2 {
    color: $white;
    font: 700 28px/34px $fontFamily;
    margin-bottom: 5px;
    text-transform: uppercase;
  }
  p {
    font: 100 18px/28px $fontFamily;
  }
  .arw-right {
    display: none !important;
  }
}