.breaker {
	background: url(img/bg-breaker.jpg) no-repeat center center;
	background-size: cover;
  margin-bottom: 50px;
  overflow: hidden;
  padding: 100px 0;
  position: relative;
  text-align: center;
	@include breakFirst(medium){
  	margin-bottom: 100px;
  	padding: 144px 0;
	}
  &.last {
    margin: 0;
  }
	&.home-section.last {
		background-image: url(img/bg-breaker2.jpg);
	}
	p {
		color: $white;
		font: 500 20px/30px $serifFontFamily;
		margin-bottom: 25px;
		text-shadow: 2px 2px 1px #606060;
  	@include breakFirst(medium){
  		font-size: 22px;
  		line-height: 38px;
  	}
	}
	h2 {
		color: $white;
		font: 700 38px/44px $fontFamily;
		letter-spacing: 1px;
		margin-bottom: 25px;
		text-transform: uppercase;
  	text-shadow: 2px 3px 2px $orange;
  	@include breakFirst(medium){
  		font-size: 52px;
  		line-height: 56px;
  	}
	}
	.icon-circle {
		margin-bottom: 25px;
	}
	.icon-circle .icon-svg {
		color: $orange;
		height: 95px;
		width: 95px;
	}
	.edge-bottom, .edge-top {
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
	}
	.edge-bottom {
		bottom: 0;
		top: auto;
	}
}
.breaker,.stat-breaker {
  &:before, &:after {
  	background: url(img/edge-bottom.png);
  	background-position: top center;
  	bottom: 0;
  	content: '';
  	display: block;
  	height: 40px;
  	left: 0;
  	position: absolute;
  	width: 100%;
  	z-index: 5;
  }
  &:after {
  	background-image: url(img/edge-top.png);
  	background-position: bottom center;
  	bottom: auto;
  	top: 0;
  }
	&.edge-blue-top:after {
		background-image: url(img/edge-blue-top.png);
	}
	&.edge-blue-bottom:before {
		background-image: url(img/edge-blue-bottom.png);
	}
}