.card {
	background: $white;
	background: transparentize($white,.1);
	padding: 15px;
	margin: 0 0 20px 0;
	font-size: 14px;
	line-height: 18px;
	img {
		margin: 0 0 15px;
	}
	h2, h3, h4, h5, h6 {
	  font-size: 18px;
	  line-height: 22px;
	}
	p, ul, ol {
		font-size: 14px;
		line-height: 18px;
	}
	ul li, ol li {
		margin: 0;
	}
}
.card-body {
	padding:0 5px;
}

