.content-box-module {
	margin-bottom: 50px;
	@include breakFirst(medium){
		margin-bottom: 100px;
	}
	.category-tag {
		@include breakTo(large){
			left: 25px;
		}
	}
}
.content-box-copy {
	background: $beigeLight;
	margin: 0 15px;
	padding: 30px;
	@include breakFirst(medium){
		margin: 0;
		padding: 30px 40px;
	}
}
.content-box-img {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	margin: 0 15px;
	min-height: 300px;
	padding-left: 0;
	@include breakFirst(medium){
		margin: 100px 0 0;
		min-height: 400px;
	}
	@include breakFirst(large){
		min-height: 532px;
	}
}
.content-box-module--tweet {
	.container {
		position: relative;
		@include breakFirst(large){
			min-height: 760px;
		}
	}
	.category-tag {
		@include breakTo(large){
			left: auto;
			right: 25px;
		}
	}
	.content-box-copy {
		margin-top: 100px;
	}
	.content-box-img {
		@extend .cf;
		margin: 0;
		@include breakTo(medium){
			padding: 0 15px;
		}
		@include break(small){
			background: none !important;
		}
	}
	.visible-mobile {
		float: right;
		margin-top: -60px;
		width: 75%;
	}
	.tweet-copy {
		@include breakTo(large){
			padding: 0 30px 30px;
		}
		&:before {
			@include breakTo(large){
				font-size: 160px;
				line-height: 160px;
				top: -90px;
			}
		}
		p {
			@include breakTo(large){
				font-size: 16px;
				line-height: 26px;
			}
		}
	}
	.tweet-block {
		margin: 0;
		width: 95%;
		@media (min-width:350px){
			width: 75%
		}
		@include breakFirst(medium){
			left: 0;
			position: absolute;
			top: 100%;
			width: 100%;
		}
		@include breakFirst(large){
			left: auto;
			top: 360px;
			right: -147px;
			width: 400px;
		}
		@include breakFirst(wide){
			right: -180px;
		}
		.visible-mobile {
			width: 75%;
		}
	}
}