@charset "utf-8";

body {
  background: $beige url(img/bg-texture.png);
  color: $textColor;
  font-family: $baseFontFamily;
  font-size: ($baseFontSize - 2px);
  font-weight: 100;
  line-height: $baseLineHeight;
  margin: 0;
  padding-top: 90px;
  @include breakFirst(medium){
    font-size: $baseFontSize;
  }
  @include breakFirst(large){
    padding-top: 245px;
  }
  &.homepage {
    padding-top: 60px;
    @include breakFirst(large){
      padding-top: 150px;
    }
  }
}

.bg-texture {
  background-image: url(img/bg-texture.png)
}
.open-menu, .open-menu body {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
a {
  color: $linkColor;
  text-decoration: none;
  &:hover {
    color: $linkColorHover;
  }
}

strong  { font-weight: bold; }
em      { font-style: italic; }
cite    { font-style: normal; }

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 ($baseLineHeight / 2);
  font-family: $headingsFontFamily;
  font-weight: $headingsFontWeight;
  line-height: $baseLineHeight;
  color: $headingsColor;
  text-rendering: optimizelegibility; // Fix the character spacing for headings
}
h1,
h2,
h3 { line-height: $baseLineHeight * 2; }

h1 {
  color: $blue;
  font-size: 34px;
  font-weight: 700;
  line-height: 40px;
  margin-bottom: 20px;
  text-transform: uppercase;
  @include breakFirst(medium){
    font-size: 60px;
    line-height: 72px;
    margin-bottom: 50px;
  }
}
h2 {
  color: $blueLight;
  font-size: 26px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
  @include breakFirst(medium){
    font-size: 32px;
    line-height: 36px;
  }
}
h3 {
  color: #005496;
  font: 500 24px/36px $serifFontFamily;
  letter-spacing: 1px;
  margin-bottom: 40px;
}
h4 {
  color: $blueLight;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  text-transform: uppercase;
}
h5 {
  color: $blue;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 36px;
  text-transform: uppercase;
}

hr {
  border: none;
  border-bottom: 1px solid #e5dfcf;
  margin: 30px 0;
  @include breakFirst(medium){
    margin: 60px 0;
  }
  &.m-bottom {
    margin-top: 0;
  }
}
blockquote {
  color: $blueLight;
  font: 500 20px/32px $serifFontFamily;
  margin: 0 0 20px 30px;
}
p, ul, ol, dl {
  margin: 0 0 20px
}
ul, ol {
  margin-left: 30px;
  li {
    margin-bottom: 10px;
    text-transform: uppercase;
    &:before {
        content: "• ";
        color: $orange;
        margin-right: 5px;
    }
  }
}
ol {
  li {
    counter-increment: step-counter;
  }
  li:before {
    content: counter(step-counter);
    font-size: 14px;
    margin-right: 10px;
    top: -2px;
    position: relative;
  }
}
dt {
  @extend h5;
}
dd {
  margin-bottom: 20px;
}
img {
  display: block;
  &.m-bottom {
    margin-bottom: 20px;
  }
}
.img-full {
  height: auto;
  margin-bottom: 20px;
  width: 100%;
  @include breakFirst(medium){
    margin: 0;
  }
}
.icon-svg {
  display: inline-block;
  svg {
    display: block;
    height: 100%;
    width: 100%;
  }
}
.flt-right {
  float: right;
}
.content-wrap {
  margin-bottom: 100px;
}

// Transition placeholder
%trans {
  transition: all 0.4s $pageTrans;
}

.resp-break {
  @include breakFirst(large){
    display: block;
  }
}
.btn {
  border: 3px solid $orange;
  cursor: pointer;
  display: inline-block;
  font: 700 16px/1 $fontFamily;
  letter-spacing: 2px;
  padding: 15px 20px;
  text-transform: uppercase;
  &:hover {
    background: $orange;
    color: $white;
  }
  &.btn--white {
    border-color: $white;
    color: $white;
    &:hover {
      background: $white;
      color: $orange;
    }
  }
  .arw-right {
    height: 14px;
    margin-left: 15px;
    position: relative;
    top: 1px;
    width: 18px;
  }
}
.btn-circle {
  border: 2px solid $white;
  border-radius: 50%;
  height: 46px;
  position: relative;
  width: 46px;
  svg {
    @extend %centerVertAll;
  }
}

.icon-circle {
  background: $white;
  border-radius: 50%;
  display: inline-block;
  padding: 15px;
  .icon-svg {
    display: block;
  }
}
.btn-mobile-toggle a {
  background: $orange;
  color: $white;
  display: block;
  font: 500 18px/26px $fontFamily;
  padding: 18px 62px 18px 20px;
  position: relative;
  text-transform: uppercase;
  .arw-right {
    background: $orangeDark;
    display: block;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
  }
  svg {
    @extend %centerVertAll;
    height: 14px;
    width: 18px;
  }
}
.btn-mobile-toggle {
  display: block;
  @include breakFirst(medium){
    display: none;
  }
  .arw-right svg {
    transform: translate(-50%, -50%) rotate(90deg);
    transition: transform .25s ease-out;
  }
}
.open-list  {
  .btn-mobile-toggle .arw-right svg {
    transform: translate(-50%, -50%) rotate(270deg);
  }
}
.big-list-wrap {
  margin-bottom: 30px;
  .big-list {
    margin: 0;
  }
}
.big-list {
  margin-left: 0;
  .open-list &, &.open-list, &.show-mobile  {
    li {
      display: block;
    }
  }
  &.show-mobile {
    @include breakTo(large){
      margin: 0;
    }
  }
  li {
    display: none;
    margin: 0;
    text-transform: uppercase;
    @include breakFirst(medium){
      display: block;
    }
    // &:not(.btn-mobile-toggle):nth-child(odd) a {
    //   background: $beige;
    // }
    &:before {
      display: none;
    }
    &.btn-mobile-toggle {
      display: block;
      @include breakFirst(medium){
        display: none;
      }
    }
  }
  a {
    display: block;
    font: 500 18px/26px $fontFamily;
    letter-spacing: 2px;
    padding: 18px 62px 18px 20px;
    position: relative;
    @include breakFirst(medium){
      padding-left: 34px;
    }
  }
  .no-touch & a:hover {
    background: $orange;
    color: $white;
    .arw-right {
      display: block;
    }
  }
  .arw-right {
    background: $orangeDark;
    color: $white;
    display: none;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 62px;
    svg {
      @extend %centerVertAll;
      height: 14px;
      width: 18px;
    }
  }
  .btn-mobile-toggle a {
    svg {
      transform: translate(-50%, -50%) rotate(90deg);
    }
  }
}

.read-more {
  color: $orange;
  display: inline-block;
  font: 500 16px/16px $fontFamily;
  letter-spacing: 2px;
  text-transform: uppercase;
}

// Hide the text and show an image
%textToImg {
  display: block;
  overflow: hidden;
  text-indent: -9999px;
}

%centerVert, .center-vert {
  @include breakFirst(medium){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertLarge, .center-vert-large {
  @include breakFirst(large){
    backface-visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}
%centerVertAll, .center-vert-all {
  backface-visibility: hidden;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  .no-csstransforms & {
    position: relative;
    top: 0;
    left: 0;
  }
}

.gradient-bg {
  &:after {
    background: linear-gradient( to top, rgba(0,0,0,.5), rgba(0,0,0,0) );
    bottom: 0;
    content: '';
    display: block;
    height: 60%;
    left: 0;
    pointer-events: none;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  * {
    z-index: 2
  }
}

.visible-mobile {
  display: block;
  @include breakFirst(medium){
    display: none;
  }
}
.hidden-mobile {
  display: none;
  @include breakFirst(medium){
    display: inline;
  }
}

// Hide only visually, but have it available for screenreaders: h5bp.com
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable:focus {
    border: 0;
    clip: none;
    height: auto;
    margin: -1px;
    overflow: visible;
    padding: 0;
    position: relative;
    width: auto;
  }
}


.temp-img {
  background: url(img/_temp-landing-a-1.jpg) no-repeat center center;
  background-size: cover;
}
.kicker {
  @extend h3;
  color: $blueLight;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 30px;
  @include breakFirst(medium){
    font: 500 24px/36px $serifFontFamily;
    margin-bottom: 50px;
  }
}

#skip-link {
  background: $orange;
  color: $white;
  display: block;
  padding: 10px 0;
  text-align: center;
}

form {
  .row {
    margin-bottom: 30px;
  }
  input[type='text'],textarea {
    background: $white;
    border: 2px solid transparent;
    color: $orange;
    display: inline-block;
    font: 500 20px/1 $serifFontFamily;
    letter-spacing: 1px;
    margin: 0 -2px;
    padding: 17px 20px 16px;
    vertical-align: top;
    width: 100%;
    &:focus {
      border-color: $orange;
      outline: none;
      &::placeholder {
        color: $orange;
        line-height: 1.2
      }
    }
    &::placeholder {
      color: transparentize($grayDark,.4);
      line-height: 1.2
    }
  }
  textarea {
    min-height: 200px;
  }
}
.styled-select {
  color: transparentize($grayDark,.4);
  cursor: pointer;
  font: 500 20px/1.2 $serifFontFamily;
  position: relative;
  width: 100%;
  &:hover {
    color: $orange;
  }
  .no-js & ul, &.hover ul {
    display: block;
  }
  ul {
    display: none;
    margin: 0;
    left: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    z-index: 1;
  }
  .selected, a {
    background: $white;
    padding: 17px 20px 16px;
    text-transform: none;
  }
  .selected {
    padding: 17px 80px 16px 20px;
  }
  .selected.changed {
    color: $orange
  }
  li {
    border-top: 2px solid $beige;
    margin: 0;
    &:before {
      display: none;
    }
  }
  a {
    color: transparentize($grayDark,.4);
    display: block;
    &:hover, &:focus {
      color: $orange;
    }
  }
  .arw-right {
    background: $orange;
    border: 2px solid $orange;
    color: $white;
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 57px;
    svg {
      @extend %centerVertAll;
      height: 16px;
      width: 14px;
    }
  }
  &.hover .arw-right {
    background: $beige;
    border-color: $orange;
    color: $orange;
  }
}

:root .uf-check input[type="checkbox"], :root .uf-check input[type="radio"] { /* :root here acting as a filter for older browsers */
  position: absolute;
  opacity: 0;
}

.uf-check {
  color: transparentize($grayDark,.4);
  cursor: pointer;
  display: block;
  font: 500 20px/1 $serifFontFamily;
  margin-bottom: 30px;
}

:root .uf-check input[type="checkbox"] + div, :root .uf-check input[type="radio"] + div {
  display: inline-block;
  vertical-align: middle;
  width: 58px;
  height: 58px;
  border: 2px solid $orange;
  margin: 0 20px 0 0;
  background: white;
  overflow: hidden;
  position: relative;
}
:root .uf-check input[type="radio"] + div {
  border-radius: 50%;
}

:root .uf-check input[type="checkbox"] + div .icon-svg {
  @extend %centerVertAll;
  color: $orange;
  display: none;
  height: 20px;
  width: 20px;
}
:root .uf-check input[type="radio"] + div:after {
  @extend %centerVertAll;
  background: $orange;
  border-radius: 50%;
  content: '';
  display: none;
  height: 20px;
  width: 20px;
}

:root .uf-check input[type="checkbox"]:checked + div .icon-svg,
:root .uf-check input[type="radio"]:checked + div:after {
  display: block;
}

:root .uf-check input[type="checkbox"]:focus + div, :root .uf-check input[type="radio"]:focus + div {
  background: $beige;
}