.header {
	background: $blue;
	backface-visibility: hidden;
	left: 0;
	position: fixed;
	top: 0;
	transition: transform 0.4s $pageTrans;
	width: 100%;
	z-index: $zUI;
	.logo {
		background: $blue;
		display: block;
		float: left;
		height: 60px;
		position: relative;
		width: 76px;
		z-index: $zUI + 1;
		@include breakFirst(large){
			height: 150px;
			width: 150px;
		}
		&:hover {
			background: $blueDark;
		}
		img {
			@extend %centerVertAll;
			height: 31px;
			width: 46px;
			@include breakFirst(large){
				height: 50px;
				width: 74px;
			}
		}
	}
	&.show-aux {
		@include breakFirst(large){
			transform: translate3d(0, 45px, 0);
		}
		@include breakFirst(wide){
			transform: none;
		}
	}
}
.header.unit {
	.logo {
		width: 170px;
		padding: 0 10px;

		@include breakFirst(large){
			height: 50px;
			width: 50px;
		}

		img {
			display: none;

			@include breakFirst(large){
				height: 20px;
				width: 30px;
				display: block;
			}
		}
		.logo-herbert {
			display: block;
			top: 0px;
			height: 60px;
			color: $white;

			@include breakFirst(large){
				display: none;
			}
		}
	}
	.menu-wrap {
		padding-left: 0px;
	}
	.main-menu-wrap {
		@include breakFirst(large){
			padding-left: 300px;
		}

		@media screen and (min-width: 991px) and (max-width : 1250px) {
			padding-left: 220px;
		}

		.logo-herbert {
			color: $white;
			display: none;

			@include breakFirst(large){
				height: 58px;
				width: 240px;
				position: absolute;
				margin-left: 30px;
				top: 22px;
				left: 0px;
				display: block;
				color: $blue;
			}

			@media screen and (min-width: 991px) and (max-width : 1250px) {
				width: 180px;
				margin-left: 20px;
			}
		}

		.main-menu-link {
			@media screen and (min-width: 991px) and (max-width : 1250px) {
				font-size: 15px;
				padding: 37px 8px;
			}
		}
	}
	.aux-menu-wrap {

		@media screen and (min-width: 1220px) {
			padding-left: 50px;
		}
	}
}
form.search-wrap,.btn-show-aux, .btn-menu,.btn-search-mobile {
	height: 60px;
	right: 60px;
	position: absolute;
	top: 0;
	width: 60px;
	@include breakFirst(large){
		height: 50px;
		right: 50px;
		width: 50px;
	}
	@include breakFirst(wide){
		right: 0;
	}
	&.mobile {
		right: 0;
		top: 60px;
		transform: translate3d(0,-100%,0);
		width: 100%;
		input {
			display: none;
			font-size: 16px;
			transform: translateY(100%);
		}
		&.open-search input {
			display: block;
		}
	}
	input {
		background: $beige;
		border: none;
		color: $orange;
		font: 500 14px/1 $serifFontFamily;
		height: 50px;
		left: 0;
		letter-spacing: 1px;
		margin: 0;
		padding: 10px;
		position: absolute;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform .25s ease-out;
		top: 10px;
		z-index: 1;
		@include breakFirst(large){
			top: auto;
		}
	  .no-csstransforms3d & {
			transform: scaleX(1);
	  }
	}
	&.open-search input {
		@include breakFirst(large){
			width: 320px;
			left: -320px;
			transform: scaleX(1);
		}
	  .no-csstransforms3d & {
			@include breakFirst(large){
				transform: scaleX(1);
		  }
		}
	}
}

.btn-search {
	background: $orange;
	border: none;
	cursor: pointer;
	display: block;
	height: 100%;
	position: relative;
	width: 60px;
	z-index: 5;
	@include breakFirst(large){
		background: $orangeDark;
		width: 100%;
	}
	@include breakFirst(wide){
		background: $orange;
	}
	&:hover {
		background: $orange;
		@include breakFirst(wide){
			background: $orangeDark;
		}
	}
	.mobile & {
		position: absolute;
		right: 60px;
	}
	.icon-svg {
		@extend %centerVertAll;
		height: 19px;
		width: 18px;
	}
}
.btn-menu, .btn-show-aux {
	background: $orangeDark;
	right: 0;
	z-index: 6;
	@include breakFirst(large){
		display: none;
		right: 0;
	}
	.icon-svg {
		@extend %centerVertAll;
		height: 18px;
		color: $white;
		width: 23px;
	}
	.icon-close {
		opacity: 0;
		visibility: hidden;
		.open-menu & {
			opacity: 1;
			visibility: visible;
			transition: all .4s ease-out
		}
	}
	.icon-menu {
		opacity: 1;
		visibility: visible;
		transition: all .4s ease-out;
		.open-menu & {
			opacity: 0;
			transition: none;
			visibility: hidden;
		}
	}
}

.btn-show-aux {
	display: none;
	z-index: 7;
	.icon-close {
		opacity: 0;
		visibility: hidden;
		.show-aux & {
			opacity: 1;
			visibility: visible;
			transition: all .4s ease-out
		}
	}
	.icon-menu {
		opacity: 1;
		visibility: visible;
		transition: all .4s ease-out;
		.show-aux & {
			opacity: 0;
			transition: none;
			visibility: hidden;
		}
	}
	@include breakFirst(large){
		background: $orange;
		display: block;
		right: 0;
	}
	@include breakFirst(wide){
		display: none;
	}
}
.menu-wrap {
	background: $orange;
	display: none;
	height: calc(100vh - 60px);
	overflow: scroll;
	position: absolute;
	top: 60px;
	width: 100%;
	z-index: $zUI;
	-webkit-overflow-scrolling: touch;
	@include breakFirst(large){
		display: block;
		float: left;
		height: 150px;
		overflow: visible;
		padding-left: 150px;
		padding-top: 0;
		top: 0;
	}
	.open-mobile-dropdown & {
		transform: translateX(-80%);
	}
	.open-menu & {
		display: block;
		transition: all .25s ease-out;
		.aux-menu-wrap, .main-menu-wrap {
			display: block;
		}
	}
	a {
		color: $white
	}
	ul {
		margin: 0;
	}
	li {
		margin: 0;
		@include breakFirst(large){
			float: left;
		}
		&:before {
			display: none;
		}
	}
	.search-wrap {
		display: none;
		@include breakFirst(large){
			display: block;
			z-index: 6;
		}
	}
}
.main-menu-wrap {
	@extend .cf;
	background: $white;
	display: none;
	position: relative;
	@include breakFirst(large){
		display: block;
		top: 50px;
	}
	li {
		border-top: 1px solid $beigeDark;
		position: relative;
		@include breakFirst(large){
			border: none;
		}
		@include breakFirst(wide){
			//width: 14.285714286%;
			min-width: calc(99.9% / 7);
		}
		&:first-child {
			border: none;
		}
		&:nth-child(even){
			background: $beigeLight;
			@include breakFirst(large){
				background: none;
			}
		}
		&.hover {
			.dropdown {
				@include breakFirst(large){
					display: block;
				}
			}
			span:after {
				transition: width 0.2s ease-out;
				width: 100%;
			}
		}
		&:hover {
			a {
				background: $beige;
			}
			.no-js & .dropdown {
				@include breakFirst(large){
					display: block;
				}
			}
		}
	}
	.main-menu-link {
		color: $blue;
		display: block;
		font-size: 18px;
		font-weight: 700;
		letter-spacing: 2px;
		padding: 15px;
		text-transform: uppercase;
		@include breakFirst(large){
			font-size: 17px;
			padding: 37px 9px
		}
		@media (min-width:1090px){
			padding: 37px 16px
		}
		@media (min-width:1130px){
			padding: 37px 18px
		}
		@include breakFirst(wide){
			font-size: 18px;
			padding: 37px 0;
			text-align: center;
		}
		span {
			display: inline-block;
			position: relative;
			&:after {
				@include breakFirst(large){
					background: url(img/main-menu-hover.png) repeat-x left center;
					content: '';
					bottom: -5px;
					display: block;
					height: 5px;
					left: 0;
					position: absolute;
					transform-origin: center center;
					width: 0;
				}
			}
		}

		.icon-caret {
			height: 14px;
			right: 15px;
			margin-top: -7px;
			position: absolute;
			top: 50%;
			width: 9px;
			@include breakFirst(large){
				display: none;
			}
		}
	}
}
.search-wrap.mobile {
	@include breakFirst(large){
		display: none;
	}
}
.aux-menu-wrap {
	@extend .cf;
	background: $orangeDark;
	display: none;
	@include breakFirst(large){
		display: block;
		height: 50px;
		left: 0;
		position: absolute;
		text-align: center;
		top: -50px;
		width: 100%;
	}
	@include breakFirst(wide){
		position: relative;
		text-align: left;
		top: -100px;
	}
	ul {
		@include breakFirst(wode){
			display: inline-block;
			vertical-align: top;
		}
	}
	li {
		border-bottom: 1px solid #eba171;
		display: block;
		&:last-child {
			border: none;
		}
		@include breakFirst(large){
			border: none;
		}
		@media (min-width: $screen-desktop) and (max-width:1219px){
			display: inline-block;
			float: none;
		}
	}
	.aux-nav {
		display: inline-block;
		vertical-align: top;
		width: 100%;
		@include breakFirst(large){
			width: auto;
		}
		a {
			display: block;
			font-size: 14px;
			font-weight: 700;
			letter-spacing: 2px;
			line-height: 14px;
			padding: 18px 15px;
			text-transform: uppercase;
			@include breakFirst(large){
				padding: 18px 10px;
			}
			@include breakFirst(wide){
				padding: 18px 9px;
			}
			@include breakFirst(1250px){
				padding: 18px 10px;
			}
			&:hover,&:focus {
				opacity: .8
			}
		}
		.audience-link {
			background: $beige;
			border: none;
			@include breakFirst(large){
				display: none;
			}
			a {
				color: $blue;
				font: 500 16px/16px $serifFontFamily;
				text-transform: none;
			}
			&:nth-child(odd){
				background: $beigeDark;
			}
		}
		li:nth-child(4) a {
			@include breakFirst(wide){
				padding-left: 30px;
			}
		}
		li:last-child a {
			@include breakFirst(wide){
				padding-right: 30px;
			}
		}
	}
	.audience-nav-wrap {
		border-left: 1px solid $white;
		border-color: transparentize($white,.6);
		display: none;
		position: relative;
		@include breakFirst(large){
			display: inline-block;
			right: 0;
		}
		@include breakFirst(wide){
			margin-right: 50px;
			position: absolute;
		}
		> a, .arw-right {
			float: left;
		}
		&:hover,&:focus {
			ul {
				display: block;
			}
			.arw-right {
				background: $beige;
				svg {
					color: $blue;
					transform: translate(-50%,-50%);
				}
			}
		}
		.arw-right {
			border-right: 1px solid $white;
			border-color: transparentize($white,.6);
			height: 50px;
			position: relative;
			width: 37px;
			@include breakFirst(wide){
				width: 50px;
			}
			svg {
				@extend %centerVert;
				color: $white;
				height: 14px;
				transform: translate(-50%,-50%);
				width: 16px;
			}
		}
		ul {
			background: $beige;
			display: none;
			left: 0;
			position: absolute;
			top: 100%;
			width: 100%;
			z-index: $zUI;
			li {
				border-top: 1px solid $white;
				float: none;
				width: 100%;
				&:first-child {
					border: none;
				}
			}
			a {
			  text-align: left;
			  text-transform: none;
			  &:hover {
			  	background: $beigeDark;
			  }
			}
		}
		a {
			color: $blue;
			display: block;
			font: 500 16px/20px $serifFontFamily;
			letter-spacing: 2px;
			padding: 15px 10px;
			@include breakFirst(wide){
				padding: 15px 20px;
			}
		}
		.cur-audience {
			color: #fef2d2;
		}
	}
}

.dropdown {
	background: $beige;
	display: none;
	left: 0;
	overflow: hidden;
	padding: 30px 20px;
	position: fixed;
	top: 150px;
	width: 100%;
	z-index: $zUI;
	@include breakFirst(wide){
		min-width: 845px;
		position: absolute;
		top: 100px;
		width: auto;
	}
	.offscreen & {
		left: auto;
		right: 0;
	}
	ul {
		margin: 0;
	}
	li {
		float: none;
		width: auto;
		li {
			a {
				padding-left: 10px;
			}
		}
		&:first-child a {
			border: none;
		}
	}
	a {
		color: $blue;
		border-top: 1px solid $beigeDark;
		display: block;
		font: 500 18px/26px $serifFontFamily;
		padding: 11px;
		text-align: left;
		text-transform: none;
		&:hover {
			color: $orange;
		}
	}
	.aux-dropdown {
		padding-top: 7px;
	}
	.aux-dropdown a {
		border: none;
		color: $orange;
		font: 700 14px/21px $fontFamily;
		letter-spacing: 2px;
		padding: 6px 0;
		text-transform: uppercase;
		&:hover {
			color: $linkColorHover;
		}
	}
	.col-sm-4 {
		padding-left: 9px;
		padding-right: 9px;
	}
}
.mobile-dropdown-wrap {
	@include breakFirst(large){
		display: none; 
	}
	background: $beigeLight;
	border-left: 1px solid $beigeDark;
	height: calc(100vh - 60px);
	right: 0;
	overflow: scroll;
	position: absolute;
	transform: translateX(100%);
	transition: transform .25s ease-out;
	top: 60px;
	width: 80%;
	z-index: $zUI;
	.open-mobile-dropdown & {
		transform: translateX(0);
	}
	.img-full {
		display: none;
	}
	h2 {
		color: $blue;
		font: 700 18px/18px $fontFamily;
		margin: 15px 15px 0 15px;
		text-transform: uppercase;
		a {
		color: $blue;
		display: block;
			padding: 15px;
		}
	}
	ul {
		border-top: 1px solid $beigeDark;
		margin: 0 15px;
		padding: 0;
	}
	li {
		border-top: 1px solid $beigeDark;
		list-style: none;
		margin: 0;
		&:before {
			display: none;
		}
		&:first-child {
			border: none;
		}
	}
	li a {
		color: $blue;
		display: block;
		font: 500 18px/18px $serifFontFamily;
		padding: 15px;
		text-transform: none;
	}
}