@charset "utf-8";

.slick-list, .slick-track {
	height: 100%;
	width: 100%;
}
.featured-story-wrap {
	overflow: hidden;
	width: 100%;
}


.featured-story-img-wrap {
	height: 230px;
	overflow: hidden;
	position: relative;
	width: 100%;
	z-index: 1;
	@media (min-width: 620px) {
		height: 380px; 
	}
	@media (min-width: 992px) {
		height: 750px; 
	}
	@media (min-width: 768px) and (max-height: 800px) {
		height: 600px;
	}
	@media (min-width: 768px) and (max-height: 650px) {
		height: 550px;
	}
}
.featured-story-img {
	background-size: cover;
	background-position: center top;
	background-repeat: no-repeat;
	@media (min-width: $screen-tablet){
		background-position: center center;
	}
	float:left;
	height: 100%;
	width: 100%;
	opacity: 0;
	position: absolute;
	transition: .4s opacity;
	&.active {
		opacity: 1;
		transition-delay: 0s;
		z-index: 2;
	}
}

.featured-story-content-wrap-wrap {
	margin-bottom: 20px;
	width: 100%;
	@include breakFirst(large){
		float: left;
		margin: 0;
	}
}
.featured-story-content-wrap {
	border: 10px solid $white;
	padding: 0;
}
.featured-story {
	background: $white;
	cursor: pointer;
	padding: 20px 25px;
	position: relative;
	@include breakFirst(large){
		padding: 20px 40px;
	}
	&:hover h2 {
		color: $orange;
	}
	&:before {
		background: $cyan;
		content: '';
		height: 100%;
		left: 40px;
		position: absolute;
		top: 0;
		width: 5px;
		z-index: 1;
		@include breakFirst(large){
			left: 52px;
		}
	}
	&:last-child:before {
		height: 50%;
	}
	&:after {
		background: $cyan;
		border-radius: 50%;
		color: $blue;
		content: attr(data-number);
		font-size: 14px;
		font-weight: 700;
	  height: 30px;
		left: 27px;
		line-height: 30px;
		margin-top: -15px;
	  position: absolute;
	  text-align: center;
	  top: 50%;
	  width: 30px;
	  z-index: 2;
		@include breakFirst(large){
			left: 40px;
		}
	}
	.read-more {
		display: none;
	}
	.category-tag {
		display: none;
	}
	h2 {
		@extend h3;
		color: $blue;
		font-size: 20px;
		line-height: 28px;
		margin: 0;
		padding-left: 50px;
		position: relative;
		text-transform: none;
		@include breakFirst(large){
			font-size: 24px;
			line-height: 36px;
		}
	}
	&.active {
		background: transparentize($white,.25);
		cursor: default;
		@include breakTo(large){
			padding-top: 40px;
		}
		&:before, &:after {
			display: none
		}
		&:hover h2 {
			color: $blue;
		}
		.category-tag {
			display: block;
			z-index: 2;
			@include breakTo(large){
				left: 25px;
			}
		}
		h2 {
			// font: 700 34px/38px $fontFamily;
			font: 700 24px/28px $fontFamily;
			letter-spacing: 1px;
			padding-left: 0;
			text-transform: uppercase;
			@include breakFirst(medium){
				font-size: 34px;
				line-height:38px;
			}
			@include breakFirst(large){
				font-size: 36px;
				line-height: 40px;
			}
		}
		.read-more {
			display: inline-block;
			&:hover {
				color: $blue;
			}
		}
	}
}
.category-tag {
	border: 5px solid $white;
	background: $cyan;
	color: $blue;
	display: block;
	font: 700 14px/14px $fontFamily;
	left: -25px;
	letter-spacing: 2px;
	padding: 9px 14px;
	position: absolute;
	top: -25px;
	text-transform: uppercase;
	&:hover {
		background: $white;
		color: $blue;
	}
	&.orange {
	  background: $orange;
	  color: $white;
	}
}
.homepage-secondary-featured-wrap {
	margin: -100px 0 30px;
	position: relative;
	z-index: 2;
	@include breakFirst(large){
		margin: -211px 0 80px;
	}
}
.homepage-secondary-featured-wrap.bottom {
	margin: 0;
	@include breakFirst(medium){
		margin: 0 0 100px;
	}
	.featured-story-content-wrap{
		background: $white;
		padding: 20px 25px;
		@include breakFirst(large){
			padding: 35px 40px;
		}
		h2 {
			font: 700 34px/38px $fontFamily;
			letter-spacing: 1px;
			margin: 0;
			text-transform: uppercase;
			@include breakFirst(large){
				font-size: 60px;
				line-height: 66px;
			}
		}
	}
}
.homepage-secondary-featured-wrap {
	.secondary-featured-block {
		position: relative;
		@include breakFirst(medium){
			// float: left;
			float: right;
		}
		@include breakFirst(large){
			// margin-top: 200px;
		}
		@include breakFirst(wide){
			// margin-top: 300px;
		}
		&.one {
			@include breakFirst(large){
				// float: right;
				margin-top: -200px;
				width: 39%;
				margin-left: 2.6%;
			}
			@include breakFirst(wide){
				// margin: -200px 18.5% 0 0;
			}
		}
		&.two {
			@include breakFirst(large){
				width: 50%;
				margin-top: 20px;
			  	clear: none;
				position: relative;
			}
		}
		&.three {
			width: 100%;
			// margin-top: 0;
			margin-top: 20px;
			@include breakFirst(large){
				margin-top: -80px;
			}
			
		}
	}
}
.secondary-featured-block {
	width: 100%;
	@include break(medium){
		margin: 0;
		min-height: 350px;
		width: 50%;
	}
	@include breakFirst(large){
		height: 270px;
	}
	@include breakTo(large){
    background-image: url(img/_temp-bg-stat-hor.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
	@include breakFirst(large){
		// width: 270px;
		// width: percentage((5 / $grid-columns));
	}
	&.in-bottom {
		
	}
	&.in-left {
		
	}
	&.in-right {
		
	}

}
.secondary-featured-story {
	padding-top: 87px;
	* {
		z-index: 2;
	}
	.one & {
		@include breakFirst(large){
			min-height: 300px;
			height: 300px;
		}
	}
	.category-tag {
		right: auto;
		top: 15px;
		left: 15px;
		@include breakFirst(large){
			left: -15px;
		}
		// commented out - right align category tag on right aligned blocks
		// .one &, .three & {
		// 	@include breakFirst(large){
		// 		left: auto;
		// 		right: -15px;
		// 	}
		// }	
	}
	&.alert {
		.category-tag {
			background: $red;
			color: $white;
			left: 15px;
			right: auto;
			@include breakFirst(large){
				left: -15px;
			}
			&:hover {
				color: $red;
				background: $white;
			}
			.icon-alert {
				height: 15px;
				width: 15px;
				vertical-align: bottom;
				margin-right: 5px;
			}
		}
	}
}
.secondary-featured-story, .tweet-block {
	background: $blue url(img/bg-big-stat.png) no-repeat center center;
	background-size: cover;
	margin-bottom: 20px;
	min-height: 350px;
	// padding-top: 87px;
	position: relative;
	width: 100%;
	@include break(medium){
		margin: 0;
	}
	@include breakFirst(medium){
		float: left;
	}
	@include breakFirst(large){
		clear: left;
		margin: 0;
		padding: 0;
		height: 400px;
	}
	.two &, .three & {
	// &.two,&.three {
		@include breakFirst(large){
		  clear: none;
		  // float: right;
		  position: relative;
		}
	}
	.two & {
		@include breakFirst(large){
			height: 460px;
		}
	}
	.three & {
		@include breakFirst(large){
			float: right;
			width: 39%;
			margin-top: -90px;
		}
	}
}
.tweet-block {
	background: $blueLight;
	// 	@include break(medium){
	// 		padding: 0;
	// 		height: 350px;
	// }
}
.tweet-copy {
	color: $white;
	padding: 0 40px 40px;
	position: relative;
	@include breakFirst(large){
		padding-top: 120px
	}
	&:before {
		@include breakFirst(large){
			color: #3777ab;
			content: "“";
			font: 500 220px/220px $fontFamily;
			left: 27px;
			position: absolute;
			top: 0;
		}
	}
	p {
		color: $cyan;
		font: 500 16px/24px $serifFontFamily;
		text-transform: uppercase;
		@include breakFirst(large){
			font-size: 20px;
			line-height: 32px;
		}
	}
	.icon-twitter {
		background: #3777ab;
		border-color: #3777ab;
		display: inline-block;
		vertical-align: middle;
		svg {
			height: 18px;
			width: 22px;
		}
	}
	.twitter-name {
		color: $white;
		display: inline-block;
		margin-left: 20px;
		&:hover {
			color: $orange;
		}
	}
}
// .big-stat-copy {
.secondary-featured-copy {
	color: $white;
	font-size: 16px;
	font-weight: 100;
	line-height: 24px;
	padding: 0 30px 15px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	@include breakFirst(medium){
		// bottom: 0;
		// left: 0;
		// position: absolute;
	}
	@include breakFirst(large){
		padding: 15px 20px;
	}
	h2 {
		color: $white;
		margin-bottom: 10px;
		font: 500 24px/28px $serifFontFamily;
		text-transform: none;
		@include breakFirst(large){
			font-size: 28px;
			line-height: 32px;
		}
		a {
			color: $white;
			display: block;
			text-decoration: underline;
			&:hover {
				color: $orange;
			}
		}
	}
	p {
		margin-bottom: 10px;
		line-height: 20px;
	}
	ul.lcp_catlist {
		margin:0;
		h2 {
			font: 500 18px/22px $fontFamily;
			text-transform: uppercase;
			margin:5px 0;
			@include breakFirst(large){
				font: 500 22px/28px $fontFamily;
			}
		}

		li {
			text-transform: none;
			&:before {
				content:none;
			}
		}
	}
}