.landing-page-hero {
	overflow: hidden;
	padding-bottom: 80px;
	@include breakFirst(medium){
		padding-bottom: 135px;
	}
	.row {
		position: relative
	}
	.img-hero {
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;
		height: 250px;
		@include breakFirst(medium){
			height: 500px;
		}
		@include breakFirst(large){
			height: 620px;
		}
	}
	.col-sm-9 {
		@include break(medium){
			margin-bottom: 30px;
		}
	}
	.secondary {
		clear: left;
		@include breakFirst(medium){
			clear: none;
			margin-top: 75px;
			position: absolute;
			right: -8.33333%;
		}
	}
	.secondary .img-hero {
		height: 250px;
		@include breakFirst(medium){
			height: 430px;
		}
	}
}
.hero-content {
	background: $beigeLight;
	padding: 30px;
	z-index: 5;
	@include break(small){
		margin: -20px auto;
		width: 85%;
	}
	@include breakFirst(medium){
		position: absolute;
		transform: translateY(70px);
		top: 100px;
	}
	@include breakFirst(large){
		bottom: 0;
		top: auto;
	}
	p {
		margin: 0;
	}
}
.landing-page-hero-full {
	text-align: center;
	margin-top: -30px;
	@include breakFirst(large){
		margin: -95px 0 100px;
	}
	.hero-img {
		background-position: center center;
		background-size: cover;
		height: 450px;
		position: relative;
		h1 {
			bottom: 50px;
			color: $white;
			font: 700 42px/42px $fontFamily;
			margin-bottom: 0;
			position: absolute;
			text-align: center;
  		text-shadow: 2px 3px 2px $orange;
			width: 100%;
			@include breakFirst(large){
				bottom: 100px;
				font-size: 60px;
				line-height: 72px;
			}
		}
	}
	.hero-text {
		color: $blueLight;
		font: 500 18px/28px $serifFontFamily;
		padding: 50px 0;
		@include breakFirst(large){
			font-size: 24px;
			line-height: 40px;
			padding: 85px 0;
		}
		p {
			margin-bottom: 40px;
		}
	}
}
.gal-list-wrap {
	margin-bottom: 80px;
	@include breakFirst(medium){
		margin-bottom: 100px;
	}
}
.gal-with-caption {
	@extend .cf;
	position: relative;
	@include break(medium){
		margin-bottom: 50px
	}
	@include breakFirst(large){
		padding-bottom: 100px;
	}
	.gal-img {
		float: right;
		height: 400px;
		width: 80%;
		@include breakFirst(large){
			float: none;
			height: 532px;
			width: 455px;
		}
		@include breakFirst(wide){
			margin-left: 86px;
			width: 469px;
		}
	}
	.caption {
		background: $beige;
		bottom: 0;
		color: $blueLight;
		font: 500 20px/28px $serifFontFamily;
		left: 0;
		padding: 30px 40px;
		text-align: right;
		@include break(small){
			float: left;
			margin-top: -100px;
			width: 80%;
		}
		@include breakFirst(medium){
			font-size: 24px;
			line-height: 40px;
			position: absolute;
			width: 351px;
		}
	}
}
.img-callout-wrapper {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 70px 0;
	margin-bottom: 50px;
	@include breakFirst(large){
		margin-bottom: 100px;
		padding: 100px 0;
	}
}
.img-callout-wrap {
	@include breakFirst(large){
		margin: 0;
	}
}
.img-callout-wrap:nth-child(even) {
	margin-top: 20px;
	@include breakFirst(large){
		margin-top: 150px;
	}
}
.img-callout {
	background: $white;
	background: transparentize($white,.1);
	padding: 17px;
	text-align: center;
	@include breakFirst(large){
		padding: 25px;
	}
	img {
		margin-bottom: 30px;
	}
	h2 {
	  font-size: 24px;
	  line-height: 36px;
	}
	p {
		font-size: 18px;
		line-height: 28px;
	}
}

.content-layout-a {
	margin-bottom: 100px;
	.copy-wrap {
		background: #eee;
		margin-top: 70px;
		padding: 25px;
		@include breakFirst(large){
			padding: 50px;
		}
	}
	.img-wrap {
		padding: 0;
	}
}
.tweet-callout-wrap {
	background: #ddd;
	color: #AAA;
	font-size: 22px;
	font-style: italic;
	line-height: 32px;
	padding: 25px;
	text-align: center;
	@include breakFirst(large){
		float: right;
		margin-top: -20%;
	}
	img {
		display: inline-block;
	}
	p {
		margin-bottom: 20px;
	}
	.tweet-user {
		font-size: 14px;
		font-style: normal;
		font-weight: 500;
		text-transform: uppercase;
	}
}

.content-layout-b {
	margin-bottom: 100px;
	.copy-wrap {
		background: #eee;
		padding: 25px;
		@include breakFirst(large){
			padding: 50px;
		}
	}
	.img-wrap {
		margin-top: 70px;
		padding: 0 0 0 15px;
	}
}