.academic-list {
	@extend .cf;
	border-bottom: 1px solid #e5dfcf;
	margin:0 0 30px 0;
	@include breakFirst(large){
		margin-bottom: 80px;
	}
  .btn-mobile-toggle a {
		background: $beige;
		color: $orange;
		&:after {
			width: 100%;
		}
    .arw-right {
    	background: $orange;
    	color: $white;
      display: block;
      height: 55px;
      position: absolute;
      right: 0;
      top: 0;
      width: 62px;
      svg {
      	height: 15px;
      	left: 50%;
      	position: absolute;
      	top: 50%;
      	transform: translate(-50%,-50%) rotate(0);
      	width: 19px;
      }
    }
  }
  .btn-mobile-toggle {
    display: block;
    @include breakFirst(large){
      display: none;
    }
    .arw-right svg {
      transform: translate(-50%, -50%) rotate(90deg);
      transition: transform .25s ease-out;
    }
  }
  &.open-list  {
    li {
      display: block;
    }
    .btn-mobile-toggle .arw-right svg {
      transform: translate(-50%, -50%) rotate(270deg);
    }
  }
	li {
    display: none;
		margin: 0;
		@include breakFirst(large){
			display: block;
			float: left;
		}
    &:before {
      display: none;
    }
		.no-touch &.btn-mobile-toggle a:hover {
			background: $beige;
		}
	}
	a {
		background: $orange;
		color: $white;
		display: block;
		font: 700 16px/26px $fontFamily;
		letter-spacing: 2px;
		padding: 15px;
		position: relative;
		text-transform: uppercase;
		@include breakFirst(large){
			background: none;
			color: $orange;
			padding: 34px 25px;
		}
		&:after {
			background: $orange;
			bottom: -2px;
			content: '';
			display: block;
			height: 3px;
			left: 0;
			position: absolute;
			transform-origin: center center;
			width: 0;
		}
		.no-touch &:hover {
			@include breakTo(medium){
				background: $orangeDark;
			}
		}
		&:hover:after, &.active:after {
			@include breakFirst(large){
				transition: width 0.2s ease-out;
				width: 100%;
			}
		}
	}
}
.majors-list {
	margin: 0 0 30px;
	padding-top: 40px;
	position: relative;
	@include breakFirst(large){
		margin: 0 0 70px;
		padding: 0;
	}
	&:last-child {
		&:after {
			display: none;
		}
	}
	&:before {
		content: attr(data-category);
		color: $blueLight;
		font: 700 32px/32px $fontFamily;
		left: 5px;
		position: absolute;
		top: 5px;
		@include breakFirst(medium){
			left: -55px;
			top: 30px;
		}
	}
	&:after {
		background: #e5dfcf;
		bottom: -50px;
		content: '';
		display: block;
		height: 1px;
		position: absolute;
		@include breakFirst(large){
			left: -81px;
			width: 940px
		}
		@include breakFirst(wide){
			left: -97px;
			width: 1140px;
		}
	}
	li {
		margin: 0;
		&:before {
			display: none;
		}
		&:first-child {
			border-top: 1px solid $beigeDark;
			@include breakFirst(large){
				border: none;
			}
		}
	}
	li:nth-child(even){
		a {
			background: $beigeLight;
		}
	}
	a {
		color: $blue;
		display: block;
		font: 500 16px/20px $serifFontFamily;
		padding: 20px;
		text-transform: none;
		@include breakFirst(large){
			font-size: 20px;
			line-height: 32px;
			padding: 30px 25px;
			text-transform: uppercase;
		}
		&:hover {
			color: $orange
		}
	}
}
.filter-wrap {
	&.open {
		ul {
			display: block;
		}
		h2 {
			margin: 0 0 5px;
		}
	}
	h2 {
		font-size: 14px;
		font-weight: 500;
		line-height: 14px;
		margin-bottom: 20px;
		text-transform: uppercase;
		@include breakTo(large){
			background: #555;
			color: $white;
			font-size: 16px;
			line-height: 16px;
			padding: 22px 0;
			text-align: center;
		}
	}
	ul {
		margin: 0;
	}
	li {
		margin-bottom: 10px;
    &:before {
      display: none;
    }
	}
	a {
		background: $blue;
		color: $white;
		display: block;
		font: 700 16px/24px $fontFamily;
		letter-spacing: 1px;
		padding: 18px 0;
		text-align: center;
		text-transform: uppercase;
		&:hover,&.active {
			background: $blueLight;
		}
	}
}