ul.social-nav {
	margin: 10px;
	position:absolute;
	@include breakFirst(large){
		right: 100px;
		margin: 0 5px 0 0;
	}
	@include breakFirst(wide){
		position: relative;
		left:0;
		margin: 5px 10px;
	}
	li {
		display: inline-block;
		margin: 0 5px 0 0;
		border: none;
		@include break(medium){
			margin: 0 10px 0 0;
		}
		&:before {
			display: none;
		}
	}
	li:last-of-type {
		padding-bottom: $grid-gutter-width/2;	
	}
	a {
		border-color: $white;
		background: $white;
		color: $orangeDark;
		&:hover, &:focus {
			border-color: $white;
			background: $orangeDark;
			color: $white;
		}
	}
	.icon-svg svg {
		top: 10px;
		left: 9px;
		transform: translate(0%, 0%);
		width: 19px;
		height: 19px;
	}
	.icon-facebook {
		svg{
			height: 19px;
			width: 11px;
			left: 12px;
			top: 9px;
		}
	}
	.icon-twitter {
		svg{
			height: 17px;
			width: 20px;
		}
	}
	.icon-youtube {
		svg{
			height: 17px;
			width: 23px;
			left: 7px;
		}
	}
	.icon-linkedin {
		svg{
			height: 19px;
			width: 20px;
			top: 8px;
			left: 9px;
		}
	}
	.icon-instagram {
		svg{
			height: 18px;
			width: 18px;
		}
	}
	.icon-flickr {
		svg{
			height: 18px;
			width: 18px;
		}
	}
	.icon-feed {
		svg{
			height: 16px;
			width: 16px;
			left: 11px;
		}
	}

}
