.stat-breaker {
	background: $blueDark url(img/bg-texture-dark.png);
	height: 460px;
	margin-bottom: 100px;
	position: relative;
	.stat {
		@include break(medium){
			float: none !important;
		}
	}
}
.stat-wrap, .stat-block-wrap {
	margin-bottom: 20px;
	@include breakFirst(medium){
		margin: 0;
	}
	.stat {
    text-align: center;
		@media (min-width: 450px){
    	height: 100%;
			float: left;
		}
    @include breakFirst(large){
    	float: none;
    	width: 100%;
    }
    &.large {
    	h2 {
    		font-size: 80px;
	    	@include breakFirst(large){
	    		font-size: 100px;
	    	}
    	}
    }
    &.larger {
    	h2 {
    		font-size: 70px;
	    	@include breakFirst(large){
	    		font-size: 85px;
	    	}
    	}
    }
    h2 {
    	color: $white;
    	font: 700 110px/1 $fontFamily;
    	margin: 0;
    	padding: 0 15px;
    	text-shadow: 5px 5px 2px $orange;
    	width: 100%;
    	word-wrap: break-word;
    	@include breakFirst(medium){
    		font-size: 80px
    	}
    	@include breakFirst(large){
    		font-size: 150px;
    		padding: 0 30px;
    	}
    }
  }
  .info {
    color: #fef2d2;
    font: 700 16px/24px $fontFamily;
    letter-spacing: 2px;
		position: relative;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
    z-index: 10;
		@media (min-width: 450px){
			float: left;
    	width: 50%;
		}
		.no-touch & {
	    @include breakFirst(large){
	    	float: none;
	    	position: absolute;
	    	width: 100%;
	    }
	  }
    p {
    	margin: 0;
    }
  }
	.info-copy {
	  padding: 0 15px 0;
	  width: 100%;
	  z-index: 2;
		@include breakFirst(large){
		  padding: 30px 30px 0;
		}
		&:before {
			@include breakFirst(large){
				background: $blue;
				content: '';
				display: block;
				height: 5px;
				left: 50%;
				margin-left: -60px;
				position: absolute;
				top: 0;
				width: 120px;
			}
		}
	}
}
.stat-wrap {
	.info {
		transition: transform .2s ease-out;
	}
}
.stat-block-wrap {
	background: none no-repeat center center;
	background-size: cover;
	height: 460px;
	&:hover, .touch & {
		background-image: url(img/_temp-duotone.jpg);
		.info {
			display: block;
			opacity: 1;
		}
	}
	.no-touch & .stat, .no-touch & .info {
		@include breakFirst(large){
			height: auto;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
		}
	}
	.info {
		width: 100%;
		.no-touch & {
			@include breakFirst(large){
				opacity: 0;
				z-index: 1
			}
		}
	}
	.info-copy:before {
		background: $orange;
	}
}
.stat-block {
	@extend %centerVertAll;
	padding: 0 15px;
	width: 100%;
}
.stat-wrap {
	.stat-block {
		@extend %centerVert;
	}
}