.stat-breaker {
	background: $blueDark url(img/bg-texture-dark.png);
	height: 480px;
	margin-bottom: 100px;
	position: relative;
	h2 {
		position: absolute;
		top: 50px;
		z-index: 2;
		left: 50%;
		width: 90%;
		text-align: center;
		-webkit-transform: translateX(-50%);
		transform: translateX(-50%);
		color:$white;
    	text-shadow: 3px 3px 1px $orange;
    	font: 700 36px/1 $fontFamily;
    	white-space: normal;
    	@include breakFirst(medium){
    		font-size: 52px;
		}
	}
}
.stat-block-wrap {
	margin-bottom: 20px;
	background: none no-repeat center center;
	background-size: cover;
	height: 480px;
	
	@include breakFirst(medium){
		margin: 0;
	}
	h3 {
		color: $orange;
		font: 700 64px/1 $fontFamily;
		margin: 0;
		padding: 0 15px 10px;
		text-shadow: 3px 3px 1px $white;
		width: 100%;
		word-wrap: break-word;
		font-size: 60px;
		@include breakTo(large){
			font-size: 100px;
		}
	}
	.info {
		color: #fef2d2;
		font: 700 16px/24px $fontFamily;
		letter-spacing: 2px;
		position: relative;
		text-align: center;
		text-transform: uppercase;
		width: 100%;
		z-index: 10;
		.no-touch & {
			@include breakFirst(large){
				float: none;
				position: absolute;
				width: 100%;
			}
		}
		p {
			margin: 0;
		}
	}
}
.stat-block {
	@extend %centerVertAll;
	padding: 0 15px;
	width: 100%;
}
.stat {
	text-align: center;
	&.large {
		h3 {
			font-size: 80px;
			@include breakFirst(large){
				font-size: 100px;
			}
		}
	}
	&.larger {
		h3 {
			font-size: 70px;
			@include breakFirst(large){
				font-size: 85px;
			}
		}
	}
	@media (min-width: 450px){
		height: 100%;
		width: 100%;
		float: left;
	}
	@include break(medium){
		float: none !important;
	}
	@include breakFirst(large){
		float: none;
	}
}
.info-copy {
	padding: 0 15px 0;
	width: 100%;
	z-index: 2;
	@include breakFirst(large){
		padding: 20px 30px 0;
	}
	&:before {
		@include breakFirst(large){
			content: '';
			display: block;
			height: 5px;
			left: 50%;
			margin-left: -60px;
			position: absolute;
			top: 0;
			width: 120px;
		}
		background: $orange;
	}
}
.stat-block-wrap {
	&:hover, .touch & {
		background-image: url(img/_temp-bg-texture.jpg);
	
		.info {
			display: block;
			opacity: 1;
		}
	}
	.no-touch & .stat, .no-touch & .info {
		@include breakFirst(large){
			height: auto;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			z-index: 5;
		}
	}
}
