// COLORS
// -------------------------
$white:									#fff !default;
$grayDark:              #333132 !default;
$blue:                  #00529b !default;
$blueDark: 							#084b81 !default;
$blueLight: 						#4c87b5 !default;
$orange: 								#f37021 !default;
$orangeDark: 								#dd661e !default;
$beige: 								#faf8f1 !default;
$beigeLight: 						#fffdf5 !default;
$beigeDark: 						#eae5d7 !default;
$cyan: 									#a9dcda !default;
$teal: 									#d4edec !default;
$red: 									#ed1c24 !default;
$redLight: 							#f00 !default;

// Scaffolding
// -------------------------
$bodyBackground:        $beige !default;
$textColor:             $grayDark !default;


// Links
// -------------------------
$linkColor:             $orange !default;
$linkColorHover:        lighten($linkColor, 15%) !default;

// Transitions
// -------------------------
$cbTrans: 							cubic-bezier(0.165, 0.84, 0.44, 1);
$pageTrans: 						cubic-bezier(.54,.06,.55,.97);

// Layering
// -------------------------
$zUI: 									1000;

// TYPOGRAPHY
// -------------------------
$fontFamily:					"gentona", "Georgia", serif !default;
$serifFontFamily:				"quadon", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

$baseFontSize:          18px !default;
$baseFontFamily:        $fontFamily !default;
$baseLineHeight:        26px !default;

$headingsFontFamily:    inherit !default;
$headingsFontWeight:    bold !default;
$headingsColor:         inherit !default;

// MEDIA QUERIES BREAKPOINTS
// --------------------------------------------------

// Extra small screen / phone
$screen-xs:                  480px !default;
$screen-phone:               $screen-xs !default;

// Small screen / tablet
$screen-sm:                  768px !default;
$screen-tablet:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  992px !default;
$screen-desktop:             $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1220px !default;
$screen-lg-desktop:          $screen-lg !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default;
$screen-sm-max:              ($screen-md - 1) !default;
$screen-md-max:              ($screen-lg - 1) !default;

// Grid system
// --------------------------------------------------

// Number of columns in the grid system
$grid-columns:              12 !default;
// Padding, to be divided by two and applied to the left and right of all columns
$grid-gutter-width:         30px !default;
// Point at which the navbar stops collapsing
$grid-float-breakpoint:     $screen-tablet !default;

// Container sizes
// --------------------------------------------------

// Small screen / tablet
$container-tablet:            ((720px + $grid-gutter-width)) !default;

// Medium screen / desktop
$container-desktop:           ((940px + $grid-gutter-width)) !default;

// Large screen / wide desktop
$container-lg-desktop:        ((1140px + $grid-gutter-width)) !default;
